<!-- /templates/customers/login.liquid -->

<h2>Login</h2>
{% form 'customer_login' %}
  {{ form.errors | default_errors }}

  <label for="customer_email">Email Address</label>
  <input
    type="email"
    id="customer_email"
    name="customer[email]"
    required />

  <label for="customer_password">Password</label>
  <input
    type="password"
    id="customer_password"
    name="customer[password]"
    required />

  <input type="submit" value="Sign In" />
{% endform %}

<h2>Forgot Password</h2>
{% form 'recover_customer_password' %}
  {{ form.errors | default_errors }}

  <label for="recover_email">Email Address</label>
  <input
    type="email"
    id="recover_email"
    name="email"
    required />

  <input type="submit" value="Submit" />
{% endform %}